.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  margin-top: 50px;
}

.game-board {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: black;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 90px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  transition: all 0.2s ease-in-out;
}

.square:hover {
  cursor: pointer;
  background: yellow;
}

.square:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px darkblue;
}

.game-info {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

button {
  background-color: blue;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: #0066cc;
}
